
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Raleway&family=Roboto:wght@500&display=swap');

$verde-oscurito: #18561E;
$verde-clarito: #237C2C;
$blanco-gris: #F6F6F6;
$gris-clarito: #777777;
$blanco: #FFFFFF;
$gris-oscurito: #444444;
$negro: #000000;

$titulo: 'Roboto', sans-serif;
$subtitulo: 'Montserrat', sans-serif;
$parrafo: 'Raleway', sans-serif;



.contenedor-pa{
    height: 1000px;
    width:800px;
    h1{
        font-size: 3rem;
        font-family: $titulo;
        margin-left: 1.5rem;
    }
    input{
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        border: 1px solid #FFFFFF;
        margin-left: 60px;
        margin-right: 20px;
        padding: 5px 400px 5px 10px;
        border-radius: 3px;
    }
    
    button {
        border-radius:5px ;
        background-color:$verde-oscurito;
        color: #FFFFFF;
        padding: 5px 40px;
    }

}
.tabla_pa{
    margin: 20px 10px 40px;
}

.tabla-titulo {
    border-collapse: collapse;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3); /* Sombras más ligera con rgba() */
    height: auto;


    th{
        background-color: $verde-oscurito;
        font-family: $titulo;
        color: #FFFFFF;
        padding: 10px;
    }
    tr{
        font-family: $subtitulo ;
        background-color: #FFFFFF;
    }

    td{
        width:auto;
        padding: 25px;

    }
    span    {
        width: 30px;
    }
    .borde-sustentacion{
        background-color: $verde-clarito;
        color: #FFFFFF;
        border: 20px solid $verde-clarito;
        border-radius: 5px;
    }
    .borde-evaluacion{
        background-color: $gris-oscurito;
        color: #FFFFFF;
        border: 20px solid $gris-oscurito;
        padding: 0px 9px;
        border-radius: 5px;

    }
    .borde-aprobacion{
        background-color: $gris-clarito;
        color: #FFFFFF;
        border: 20px solid $gris-clarito;
        padding: 0px 7px;
        border-radius: 5px;

    }
}