@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
//Variables
$verde1: #237C2C;
$verde2: #18561E;
$blanco1: #FFFFFF;
$blanco2: #F6F6F6;
$gis1: #777777;
$gris2: #444444;
$negro: #000000;
$titulo: 'Roboto', sans-serif;
$subtitulo: 'Montserrat', sans-serif;
$parrafo: 'Raleway', sans-serif;

header{
    background-color: $verde2;
    #header-contenido{
        display: flex;
    }
    #title{
        font-size: 3.5rem;
        color: #FFFFFF;
        font-family: 'ROBOTO', sans-serif;
        margin-top: 1.8rem;
        margin-left: 1.5rem;
    }
    #fisc{
        z-index: 1;
        width: 6rem;
        height: 6rem;
        margin-top: 1rem;
        margin-left: 6rem;
        
    }
    nav{
        display: flex;
        align-items:center;
        margin-left: 49rem;
        
        
        #principal{
            font-family: $subtitulo;
            font-size: 1.2rem;
            color: $blanco1;
            text-decoration: none;
        }
        #mas{
            margin-left: 1.5rem;
            font-family: $subtitulo;
            font-size: 1.2rem;
            color: $blanco1;
            
        }
        #mas_icon{
            margin-left: 0.5rem;
            width: 1.2rem;
        }
    }
}

footer {
    margin-top: auto;

    .footer-container{
        font-family: $parrafo;
        background: $gris2;
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        .footer{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            padding-top: 30px;
    
            .info-footer{
                color: $blanco1;
                display: flex;
                align-items: center;
    
                img{
                    height: 100px;
                    width: 100px;
                    margin-right: 30px;
                }
            }
    
            .contacto{
                color: $blanco1;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                h1{
                    font-family: $titulo;
                    font-size: 1rem;
                    margin: 0;
                }
    
                p{
                    margin-top: 0;
                }
            }
    
            .redes{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                img{
                    height: 30px;
                    width: 30px;
                    padding: 10px;
                }
            }
        }
    
        .copyright{
    
            p{
                color: $blanco1
            }
        }
    }
}



@mixin boton ($fondo,$letra){
    background-color: $fondo;
    color: $letra;
    padding: 10px;
    border: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    font-size: 18px;
}

body {
    background-image: url(img/image\ 27.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.seccion-login{
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 7%;
    padding-bottom: 7%;
    
}

.container {
    display: flex;
    position: relative;
    width: 700px;
    height: 380px;
    margin: 0 auto 0;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.left-panel {
    background-color: $blanco1;
    color: $negro;
    position: relative;

    form {
        max-width: 300px;
        width: 100%;
        margin-left: 15px;

        h2 {
            font-size: 2rem;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            height: 45px;
            padding: 8px;
            margin-bottom: 25px;
            box-sizing: border-box;
            border-radius: 3px;
            border-width: 1.5px;
        }

        button {
            @include boton( $verde1, $blanco1)
        }
    }

    .olvidar-contraseña {
        position: absolute;
        bottom: -3%;
        left: 20%;
        font-size: 20px;
    }
    
}

.right-panel {
    background-color: $verde1;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 47%;
    height: 85%;
    color: $blanco1;

    button {
        @include boton( $blanco1,$negro);
        margin-top: 5%;
        margin-bottom: 5%;
        
    }

    .registrar {
        text-align: center;

        h2{
            font-size: 2rem;
            margin-top: 13%;
            margin-bottom: 5%;
        }

        p{
            font-family: $parrafo;
            font-size: 0.8rem;

            .subrayado{
                text-decoration: underline;
            }
        }
    }
    
}
